In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [21]:
url = "https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats"
    
# Add headers to mimic a browser request
headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8'
    }

response = requests.get(url, headers=headers)
response.raise_for_status()
print(response)

<Response [200]>

In [22]:
soup = BeautifulSoup(response.content, "html.parser")

results_table = soup.find('table', {'id': 'results2022-202391_overall'})
df = pd.read_html(str(results_table))[0]


columns_to_drop = ['Attendance', 'Notes', 'Top Team Scorer', 'Attendance', 'Goalkeeper', 'W', 'L', 'D', 'GF', 'GA', 'GD', 'MP']
df.drop(columns=columns_to_drop, inplace=True)

df

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20976\2594282582.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(results_table))[0]

    Rk            Squad  Pts  Pts/MP    xG   xGA   xGD  xGD/90
0    1  Manchester City   89    2.34  78.6  32.1  46.5    1.22
1    2          Arsenal   84    2.21  71.6  42.0  29.6    0.78
2    3   Manchester Utd   75    1.97  67.7  50.4  17.3    0.45
3    4    Newcastle Utd   71    1.87  71.9  39.5  32.3    0.85
4    5        Liverpool   67    1.76  71.5  50.8  20.7    0.55
5    6         Brighton   62    1.63  73.3  50.2  23.1    0.61
6    7      Aston Villa   61    1.61  50.3  52.5  -2.2   -0.06
7    8        Tottenham   60    1.58  57.0  49.6   7.4    0.20
8    9        Brentford   59    1.55  56.3  48.8   7.5    0.20
9   10           Fulham   52    1.37  46.2  63.6 -17.4   -0.46
10  11   Crystal Palace   45    1.18  39.3  48.1  -8.8   -0.23
11  12          Chelsea   44    1.16  49.5  52.5  -3.0   -0.08
12  13           Wolves   41    1.08  36.8  59.9 -23.0   -0.61
13  14         West Ham   40    1.05  49.2  53.0  -3.9   -0.10
14  15      Bournemouth   39    1.03  38.5  63.8 -25.3   -0.67
15  16  Nott'ham Forest   38    1.00  39.3  64.2 -24.9   -0.66
16  17          Everton   36    0.95  45.2  65.5 -20.4   -0.54
17  18   Leicester City   34    0.89  50.5  63.3 -12.8   -0.34
18  19     Leeds United   31    0.82  47.3  67.1 -19.8   -0.52
19  20      Southampton   25    0.66  37.8  60.8 -23.0   -0.61

In [23]:
df.to_csv('pl23-table.csv', index=False)